* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #000; /* fallback */
}

#terminal {
  width: 100%;
  height: 100%;
}

/* xterm overrides for Kali appearance */
.xterm {
  padding: 5px;
}

.xterm-viewport::-webkit-scrollbar {
  width: 8px;
}
.xterm-viewport::-webkit-scrollbar-thumb {
  background: #333;
}
